*{
    padding: 0;
    margin: 0;
}
body {
    background-color: whitesmoke
}

/* for google fobnt */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}