/* common css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke
}

.btn1{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
}

button:hover{
    color: #2a2a2a;
    background-color: #1ae26d;
    cursor: pointer;
}

/* for google fobnt */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;  
}

/* main css */

header{
    padding: 16px 120px 16px 120px;
    max-width: 1600px;
    justify-items: center;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav ul a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
nav ul a:hover {
    color: rgb(100, 100, 100);
}

