/* common css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke
}

.btn1{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

button:hover{
    background-color: #30B868;
    cursor: pointer;
}

/* for google font */

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;  
}

/* main css */

header{
    padding: 16px 120px 16px 120px;
    max-width: 1600px;
    justify-items: center;
    align-items: center;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav ul a {
    font-size: 16px;
    color: black;
    font-weight: 500;
    text-decoration: none;
}
nav ul a:hover {
    color: rgb(100, 100, 100);
}

#banner{
    width: 100%;
    max-width: 1600px;
    padding-top: 115px;
    padding-bottom: 180px;
    background-image: url(assets/hero-bg.png);
    background-size: cover;
}

#banner div{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    justify-items: center;
}

#banner div #access-btn{
    margin: 0 auto;
    display: flex;
    gap: 5px;
    justify-content: center;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px;
    border-radius: 20px;
    margin-bottom: 16px;
}

#banner div #access-btn:hover{
    cursor: pointer;
    color: white;
    background-color: #30B868;
}

#banner div h1{
    font-size: 72px;
    line-height: 84px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#banner div h1 span{
    color: #30B868;
}

#banner div p{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24pt;
    color: white;
    text-align: center;
}

#banner div section{
    margin-top: 32px;
}

#banner-btn{
    display: flex;
    align-items: center;
    gap: 16px;
}

#banner-btn .btn1{
    text-wrap: nowrap;
}

#banner-btn .btn2{
    width: 100%;   
    display: flex;
    align-items: center;
    color: white;
    gap: 5px;
    border: 2px solid white;
    border-radius: 4px;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 600;
}

#banner-btn a{
     text-decoration: none;
}

#banner-btn .btn2:hover{
    background-color: #30B868;
    border: none;
}

#banner-btn .btn2{
    text-wrap: nowrap;
}


#notes{
    margin-top: 80px;
    max-width: 1600px;
}

#notes header h1{
    color: #001931;
    font-size: 48px;
    font-weight: 700;
}

#notes header p{
    margin-top: 16px;
    margin-bottom: 44px;
    color: #627382;
    font-size: 16px;
    font-weight: 400;
}

#cards{
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

#cards .card{
    padding: 24px;
    height: 300px;
    justify-items: center;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 5px #627382;
    text-align: center;
}
#cards .card img{
    margin-top: 32px;
    margin-bottom: 16px;
}

#cards .card h2 {
    color: #001931;
    font-size: 24px;
    font-weight: 600;
}

#cards .card p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
}

#brain2{
    padding: 120px;
    max-width: 1600px;
    display: flex;
}

#brain2 #brain-img{
    border-radius: 8px;
    box-shadow: 2px 2px 5px #627382;
}

#brain-container{
    margin: 102px 0 102px 60px;
    max-width: 700px;
}

#brain-container #solution{
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
    font-size: 18px;
}

#brain-container h1{
    margin: 16px 0 16px 0;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

#brain-container p{
    font-weight: 500;
    line-height: 20px;
    color: #627382;
    font-size: 18px;
    margin-bottom: 40px;
}

#cheklist li{
    list-style: none;
    margin-bottom: 18px;
    align-items: center;
    color: #001931;
}
#early-access{
    max-width: 1600px;
    justify-items: center;
}


#early-access .container{
    margin: 0 120px 120px 120px;
    background-color: #fffbeb;
    border-radius: 8px;
    padding: 80px 40px;
    width: 85%;
    max-width: 1360px;
    justify-items: center;
    text-align: center;
}
#early-access .container h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
#early-access .container p{
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#early-access .container ul{
    margin-top: 16px;
    display: flex;
    gap: 6px;
    list-style: none;
    color: #627382;
}

#footer{
    background-color: #001931;
    padding:120px 120px 0 120px;
    max-width: 1600px;
}
#footer .container {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.copyright{
    color: white;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
    padding: 30px;
}